
line.timeline 
{
	shape-rendering: crispEdges;
	stroke: black;
	fill: none;
	stroke-width: 1px;
}

circle.timeline
{
	fill: black;
	stroke: none;
}

rect.scatterBorderRect {
	stroke: #dddddd;
	stroke-width: 0.5px;
	fill: white;
	fill-opacity: 0.0;
}

.variableName 
{
	font-family: 'Anonymous Pro', sans-serif;
	fill: #cccccc;
	cursor: pointer;
}

.variableNameHover 
{
	font-family: 'Anonymous Pro', sans-serif;
	fill: red;
	cursor: pointer;
}


/* drop down variable selection text */
.listSelection {
	font-family: 'Anonymous Pro', 'Helvetica';
	font-size: 11px;
}

.listSelectionDiv {
	position: absolute;
	z-index: 100;
	overflow-y: scroll;
	background-color: white;
	border: solid 1px #cccccc;
	line-height: 90%;
	padding: 10px 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.timeAxis text {font-family: Helvetica, sans-serif; font-size: 10px;}
.timeAxis line,
.timeAxis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.linechartData {
	fill: none;
	stroke-width: 0.5px;
}
.xLinechart {
	stroke: #4d4d4d;
}

.yLinechart {
	stroke: #d6604d;
}
