
line.timeline 
{
	shape-rendering: crispEdges;
	stroke: black;
	fill: none;
	stroke-width: 1px;
}

circle.timeline
{
	fill: black;
	stroke: none;
}

rect.scatterBorderRect {
	stroke: #cccccc;
	stroke-width: 1px;
	fill: none;
}

.variableName 
{
	font-family: 'Anonymous Pro', sans-serif;
	fill: red;
	cursor: pointer;
}
